{% extends "base.html" %}
{% load static %}
{% block title %}Категории{% endblock %}

{%block content%}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for stand in stands %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% for image in stand.images.all %}
                    {% if forloop.first %}

                    <img class="product" src="{{ image.image.url }}" alt="{{ stand.model }}" width="150">
                    {%endif%}
                {% endfor %}
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ stand.model }}</h5>
                            <!-- Product size and material -->
                            <p>{{ stand.size }} - {{ stand.material }}</p>
                            <!-- Product price (assuming you add a price field) -->
                            <p>{{ stand.weight }} kg</p>
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto w-100" href="{% url 'stand_detail' stand.slug %}">Подробнее...</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{%endblock%}